<div class="ems-grid-banner ems-grid-banner-x1">
    <div class="ems-grid-banner-wrapper">
        <div class="ems-grid-banner-box">
            <a href="#">
                <div class="ems-grid-banner-cover" style="background:url(/...) no-repeat;">
                    <img src="/...png" title="" alt="" />
                </div>
                <div class="ems-grid-banner-bottom">
                    <span class="ems-grid-banner-title">Lorem Ipsum</span>
                    <p class="ems-grid-banner-desc">Lorem ipsum site amet</p>
                    <div class="ems-grid-banner-button"><span>Button Text</span><i class="icon-..."> </i></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ems-grid-banner ems-grid-banner-x2">
    <div class="ems-grid-banner-wrapper">
        <div class="ems-grid-banner-box">
            <a href="#">
                <div class="ems-grid-banner-cover" style="background:url(/...) no-repeat;">
                    <img src="/...png" title="" alt="" />
                </div>
                <div class="ems-grid-banner-bottom">
                    <span class="ems-grid-banner-title">Lorem Ipsum</span>
                    <p class="ems-grid-banner-desc">Lorem ipsum site amet</p>
                    <div class="ems-grid-banner-button"><span>Button Text</span><i class="icon-..."> </i></div>
                </div>
            </a>
        </div>
        <div class="ems-grid-banner-box">
            <a href="#">
                <div class="ems-grid-banner-cover" style="background:url(/...) no-repeat;">
                    <img src="/...png" title="" alt="" />
                </div>
                <div class="ems-grid-banner-bottom">
                    <span class="ems-grid-banner-title">Lorem Ipsum</span>
                    <p class="ems-grid-banner-desc">Lorem ipsum site amet</p>
                    <div class="ems-grid-banner-button"><span>Button Text</span><i class="icon-..."> </i></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ems-grid-banner ems-grid-banner-x3">
    <div class="ems-grid-banner-wrapper">
        <div class="ems-grid-banner-box">
            <a href="#">
                <div class="ems-grid-banner-cover" style="background:url(/...) no-repeat;">
                    <img src="/...png" title="" alt="" />
                </div>
                <div class="ems-grid-banner-bottom">
                    <span class="ems-grid-banner-title">Lorem Ipsum</span>
                    <p class="ems-grid-banner-desc">Lorem ipsum site amet</p>
                    <div class="ems-grid-banner-button"><span>Button Text</span><i class="icon-..."> </i></div>
                </div>
            </a>
        </div>
        <div class="ems-grid-banner-box">
            <a href="#">
                <div class="ems-grid-banner-cover" style="background:url(/...) no-repeat;">
                    <img src="/...png" title="" alt="" />
                </div>
                <div class="ems-grid-banner-bottom">
                    <span class="ems-grid-banner-title">Lorem Ipsum</span>
                    <p class="ems-grid-banner-desc">Lorem ipsum site amet</p>
                    <div class="ems-grid-banner-button"><span>Button Text</span><i class="icon-..."> </i></div>
                </div>
            </a>
        </div>
        <div class="ems-grid-banner-box">
            <a href="#">
                <div class="ems-grid-banner-cover" style="background:url(/...) no-repeat;">
                    <img src="/...png" title="" alt="" />
                </div>
                <div class="ems-grid-banner-bottom">
                    <span class="ems-grid-banner-title">Lorem Ipsum</span>
                    <p class="ems-grid-banner-desc">Lorem ipsum site amet</p>
                    <div class="ems-grid-banner-button"><span>Button Text</span><i class="icon-..."> </i></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ems-grid-banner ems-grid-banner-x4">
    <div class="ems-grid-banner-wrapper">
        <div class="ems-grid-banner-box">
            <a href="#">
                <div class="ems-grid-banner-cover" style="background:url(/...) no-repeat;">
                    <img src="/...png" title="" alt="" />
                </div>
                <div class="ems-grid-banner-bottom">
                    <span class="ems-grid-banner-title">Lorem Ipsum</span>
                    <p class="ems-grid-banner-desc">Lorem ipsum site amet</p>
                    <div class="ems-grid-banner-button"><span>Button Text</span><i class="icon-..."> </i></div>
                </div>
            </a>
        </div>
        <div class="ems-grid-banner-box">
            <a href="#">
                <div class="ems-grid-banner-cover" style="background:url(/...) no-repeat;">
                    <img src="/...png" title="" alt="" />
                </div>
                <div class="ems-grid-banner-bottom">
                    <span class="ems-grid-banner-title">Lorem Ipsum</span>
                    <p class="ems-grid-banner-desc">Lorem ipsum site amet</p>
                    <div class="ems-grid-banner-button"><span>Button Text</span><i class="icon-..."> </i></div>
                </div>
            </a>
        </div>
        <div class="ems-grid-banner-box">
            <a href="#">
                <div class="ems-grid-banner-cover" style="background:url(/...) no-repeat;">
                    <img src="/...png" title="" alt="" />
                </div>
                <div class="ems-grid-banner-bottom">
                    <span class="ems-grid-banner-title">Lorem Ipsum</span>
                    <p class="ems-grid-banner-desc">Lorem ipsum site amet</p>
                    <div class="ems-grid-banner-button"><span>Button Text</span><i class="icon-..."> </i></div>
                </div>
            </a>
        </div>
        <div class="ems-grid-banner-box">
            <a href="#">
                <div class="ems-grid-banner-cover" style="background:url(/...) no-repeat;">
                    <img src="/...png" title="" alt="" />
                </div>
                <div class="ems-grid-banner-bottom">
                    <span class="ems-grid-banner-title">Lorem Ipsum</span>
                    <p class="ems-grid-banner-desc">Lorem ipsum site amet</p>
                    <div class="ems-grid-banner-button"><span>Button Text</span><i class="icon-..."> </i></div>
                </div>
            </a>
        </div>
    </div>
</div>